.meat{
    width: 25%;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.meat:hover{
  
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.meat__image{
   width: 100%;
   border-radius: 8px 8px 0 0 ;
   margin-bottom: 0.7rem;

}

.meat__image:hover{
    width: 100.6%;
    border-radius: 8px 8px 0 0 ;
    margin-bottom: 0.7rem;
 
 }

.meat__detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
}

.meat__detailTitle{
    font-weight: bold;
    
    color:  #AE442A;
}

.meat__price{
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0.5rem;
    padding-bottom: 2rem;
    color: rgba(35, 33, 42, 0.6);
}